body {
    font-family: 'Optima';
    color: #FFD700;
    background-color: #001F3F;
    font-size: calc(22px);
    text-align: center;
    margin: auto;
    padding: 5%;
}

h1 {
    color: #FFD700;
}
